<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Bugs / Todos
    - Can't unmap an item once mapped.
    - Shader files don't get remapped when converting
    - Add configs to remember your show directory.
    - Look at mapping stuff again - I think something gets off.
  -->
</configuration>